*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    color:#fff;
}
.list{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
}
.list li{
    width: 100%;
    height: 100%;
}
.mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
}
.allPage{
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.firstPage{
    background-image: url("../imgs/bg1sm.jpg");
}
.scendPage{
    background-image: url("../imgs/bg2.jpg");
}
.list img{
    height: 100%;
}