*{
    margin: 0;
    padding: 0;
}
ul{
    list-style:none;
}
html,body{
    width: 100%;
    height: 100%;
    position: relative;
}
.box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    color:#fff;
}
.list{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
}
.list li{
    width: 100%;
    height: 100%;
}
.mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
}
/*页码开始*/
.allPage{
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.firstPage{
    background-image: url("../imgs/bg1sm.jpg");
}
.scendPage{
    background-image: url("../imgs/bg2.jpg");
}
.thirdPage{
    background-image: url("../imgs/bg3.jpg");
}
.fourthPage{
    background-image: url("../imgs/bg4.jpg");
}
.fifthPage{
    background-image: url("../imgs/bg5.jpg");
}
/*页码结束*/
.list img{
    height: 100%;
}
/*导航开始*/
.navBox{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 7%;
    z-index: 2;
    height: 100%;
}
.navigation {
    display: table;
    height: 100%;
}
.navigation ul{
    display:table-cell;
    vertical-align: middle;
}
.navigation li{
    padding-left: 30px;
}
.navigation a{
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom: 20px;
    opacity: .7;
    background-color: #fff;
}
/*导航结束*/

/*自我介绍开始*/
.mySelf{
    position: absolute;
    left: 140px;
    top: 140px;
    font-size: 22px;
    color:#fff;
    opacity: .7;
    font-family:"Microsoft YaHei";
}





