*{
    margin: 0;
    padding: 0;
}
ul{
    list-style:none;
}
html,body{
    width: 100%;
    height: 100%;
    position: relative;
}
.box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    color:#fff;
}
.list{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
}
.list li{
    width: 100%;
    height: 100%;
}
.mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
}
/*页码开始*/
.allPage{
    overflow: hidden;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.firstPage{
    background-image: url("../imgs/bg1sm.jpg");
}
.scendPage{
    background-image: url("../imgs/bg2.jpg");
}
.thirdPage{
    background-image: url("../imgs/bg3.jpg");
}
.fourthPage{
    background-image: url("../imgs/bg4.jpg");
}
.fifthPage{
    background-image: url("../imgs/bg5.jpg");
}
/*页码结束*/
.list img{
    height: 100%;
}
/*导航开始*/
.navBox{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 7%;
    z-index: 2;
    height: 100%;
}
.navigation {
    display: table;
    height: 100%;
}
.navigation ul{
    display:table-cell;
    vertical-align: middle;
}
.navigation li{
    padding-left: 30px;
}
.navigation a{
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom: 20px;
    opacity: .7;
    background-color: #fff;
}
/*导航结束*/

/*自我介绍开始*/
.mySelf{
    position: absolute;
    left: 140px;
    top: 140px;
    font-size: 22px;
    opacity: .7;
    z-index: 2;
    font-family:"Microsoft YaHei";
}
/*自我介绍结束*/

/*作品展示开始*/

/*展示1：新浪静态页面*/
.content_show{
    width: 100%;
    height: 100%;
}
.showBox{
    width: 100%;
    height: 100%;
    margin: 100px;
    white-space: nowrap;
    font:12px/36px Verdana, Geneva, sans-serif;
}
.showBox li{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 100px;
    float: left;
    margin: 0 120px 0 0;
}
.gFont{
    color:#fff;
    font-size: 16px;
    font-family: "Microsoft YaHei", "微软雅黑";
}
.myWork{
    position: relative;
}
.myWork a{
    width: 100%;
    height: 100%;
}


.showBox div,.showBox a,.allText{
    width:100%;
    height:100%;
    position:absolute;
    left:0;top:0;
    transition:.4s;
    border-radius: 50%;
}
.mySina .sinaImg{
    background:url("../cover/1.jpg");
    box-shadow:inset 0 0 0 15px rgba(0,0,0,.4);
    background-size:cover;
    z-index:2;
    border-radius: 50%;
}



.sinaText{
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color:rgba(0,0,0,.2);
    /*transform:translate(100%);*/
    transform:rotateY(-90deg);
    color:#fff;
    padding:40px;
    box-sizing:border-box;
    opacity:0;
    z-index:1;
}
.sinaText p{
    text-align: center;
}
.sinaText a{
    width: 100%;
    height: 100%;
}
.mySina:hover .sinaText{
    transform:translate(0);
    opacity:1;
    z-index:2;
}


/*展示：无缝滚动效果*/
.gd{
    transition:.35s .7s;
    background: url("../cover/2.jpg") no-repeat left center;
}
.myGd:hover .gd{
    transform:scale(.5);
    transition:.35s;
}
.gdText{
    transform: translate(100%);
    line-height: 100px;
    opacity: 0;
    transition: .35s .35s;
    background-color:rgba(0,0,0,.4);
    padding:40px;
    box-sizing:border-box;
    z-index:1;
}


.myGd:hover .gd_par{
    transform:translate(-100%);
    transition:.35s .35s;
    opacity:0;
}

.myGd:hover .gdText{
    transform:translate(0);
    opacity: 1;
    transition: .35s .35s;
}

/*展示：*/