@charset "utf-8";

$fz:14px;//字体大小
$width:100%;//宽
$height:100%;//高
$margin:0 auto;
$pa:absolute;
$pr:relative;
$fl:left;
$fr:right;
body{
    overflow: hidden;
}
#me{
    $fz:16px;
    position: $pa;
    top: 50%;
    left: 50%;
    font-size: $fz;
    width: 200px;
    height: 26px;
    margin-left: -100px;
    margin-top: -13px;
    z-index: 2;
    #myName{
        display: inline-block;
        position: absolute;
        left: 0;
        top:0;
        line-height: 26px;
        font-size:18px;
        color:rgba(255,255,211,.6)
    }
    #nameLine{
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        text-align: center;
        line-height: 26px;
        transition: .7s;
        border-bottom: 1px solid darkcyan;
        overflow: hidden;
        white-space:nowrap;
    }
}
    #myName:hover #nameLine{
        width:100%;
    }
#box{
    width: $width;
    height: $height;
    position: $pa;
    color:#fff;
    #list{
        $fz:50px;
        width: $width;
        height: $height;
        font-size:$fz;
        position: $pa;
        .allPage{
            width: $width;
            height: $height;
        }
        .img{
            width: 200px;
            height: 200px;
            position: relative;
            border-radius: 50%;
        }
        img{
            width: $width;
            height:$height;
            border-radius: 50%;
            vertical-align: top;
        }
        .allPage {
    overflow: hidden;
    background-color: #000;
    background-size: cover;
    background-position: center center;
}
        .firstPage{
    background-image: url("../imgs/bg1sm.jpg");
            @at-root{
                .content_show{
                    clear:both;
                    height: $height;
                    @at-root{
                        .showBox{
                            height:$height;
                            padding:240px;
                            .myWork {
//                                -webkit-transition:all .35s ease;
//                                -moz-transition:all .35s ease;
//                                transition:all .35s ease;
                            }
                            li{
                                float:$fl;
                                position: $pr;
                                width: 33.33%;
                                height: 200px;
                                border-radius: 50%;
                                -webkit-box-sizing:border-box;
                                -moz-box-sizing:border-box;
                                box-sizing:border-box;
                                .h-item{
                                    position: relative;
                                    width: 200px;
                                    height: 200px;
                                    border-radius: 50%;
                                }
                                .img:before{
                                    position: $pa;
                                    display: block;
                                    content:'';
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 50%;
                                    box-shadow:inset 0 0 0 16px rgba(255,255,255,.5),
                                        0 1px 2px rgba(0,0,0,.3);
                                }
                                
                                        .animation{
                                            -webkit-transition:all .35s ease;
                                            -moz-transition:all .35s ease;
                                            transition:all .35s ease;
                                        }
                            }
                            @at-root{
                                .h-item .h-item * {
                                    box-sizing: border-box;
                                }
                                .h-item {
                                    font:16px/200px "Microsoft YaHei", "微软雅黑";
                                    text-align: center;
                                    .sinaText,.iqyText,.yytText{
                                        background-color: rgba(0,0,0,.5);
                                        -webkit-transition: .35s;
                                        -moz-transition: .35s;
                                        transition: .35s;
                                        position: $pa;
                                        left: 0;
                                        top: 0;
                                        width: 100%;
                                        height: 100%;
                                        color:white;
                                        border-radius: 50%;
                                    }
                                    a:hover{
                                        text-decoration: none;
                                    }
                                }
                            }
                                    .mySina {
                                        .sinaText{
                                            transform: rotateY(90deg);
                                        }
                                        a:hover .sinaText{
                                            transform: rotateY(0deg);
                                            opacity: 1;
                                        }
                                }
                                    .myIqy{
                                        .iqyText{
                                            opacity: 0;
                                            transform: translateX(100%);
                                    }
                                        a:hover .iqyText{
                                            transform:translate(0);
                                            opacity: 1;
                                        }
                                    }
                        }
                    }
                    
                }
            }
    }
    .scendPage{
        background-image: url("../imgs/bg2.jpg");
    }
    .thirdPage{
        background-image: url("../imgs/bg3.jpg");
    }
    .fourthPage{
        background-image: url("../imgs/bg4.jpg");
    }
    .fifthPage{
        background-image: url("../imgs/bg5.jpg");
    }
    }
}






