@charset "utf-8";

.search_input{
    width: 380px;
}
.nav{
    width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.text{
    position: absolute;
    left: 50%;
    top: 20px;
    width: 200px;
    padding: 20px;
    margin-left: -484px;
}
.rel{
    margin-top: 50px;
}
.rel_left{
    width: 26%;
    float: left;
}
.rel_big{
    width: 74%;
    float: left;
}
.rel_img_list .rel_img{
    float: left;
    width: 33%;
}
.rel_img:nth-child(2){
    width: 34%;
}
.rel_img img{
    width: 230px;
    height: 150px;
}
.rel_img p{
    margin-left: 0;
    font: 12px/30px 'Microsoft YaHei','微软雅黑';
    width: 230px;
}
.rel_list li{
    float: none;
    text-align: left;
}
.rel_title{
    font: 35px/50px 'Microsoft YaHei','微软雅黑';
}
.rel_list li a{
    font: 12px/27px 'Microsoft YaHei','微软雅黑';
    color: #1570A6;
}
.rel_img img{
    float: none;
}
.rel_img p{
    float: none;
}
.img_list_text dl{
    float: left;
    width: 33%;
}
.about_b{
    float: left;
    padding-left: 20px;
}
.about_t{
    width: 73%;
    float: right;
}


.ipad{
    width: auto;
    float: none;
}
.pc{
    width: 25%;
    float: left;
}
.footer{
    background-color: #EEEEEE;
    padding-top: 30px;
}


.footer_cont img{
    margin-bottom: 10px;
    float: right;
}
.footer_cont .earth{
    margin-bottom: 17px;
    float: left;
}
.footer_cont div{
    float: left;
}





























.gWidth{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 968px;
}