@charset "UTF-8";
body,form,ul,ol,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6{margin:0;padding:0; vertical-align: baseline;}
h1,h2,h3,h4,h5,h6,input,textarea{font-size:12px;}
li{list-style:none;}
input,textarea{vertical-align:top;}
img{border:0;vertical-align:top;}
em{font-style:normal;}

/* common */
a{ outline:none; color: #000000}
.pointer{cursor:pointer;}

/* clear float */
.clearfix:after,.clearfix:before{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom:1;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
/* a */
a{text-decoration:none;color:#ccc;}

/*公共宽度*/
.comWidth{
    width: 1180px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom:0;
}
/*高度*/
.h25{
    height: 25px;
}
.h50{
    height: 50px;
}
.dn{
    display: none;
}