@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0; line-height:100%;}
body{ font-size:12px;}
a{ text-decoration:none; color:#000;}
img{border:0; vertical-align:top;}
ul,ol{ list-style:none;}
h1,h2,h3,h4,h5,h6{ font-size:12px; font-weight:normal;}
b,strong{ font-weight:normal;}
i,em{ font-style:normal;}

.clearfix:after{ display:block; content:''; clear:both;}
.clearfix{ zoom:1;}

.fl{ float:left;}
.fr{ float:right;}

table{ border-collapse:collapse;}