@charset "utf-8";
body,ul,ol,li,dl,dd,h1,h2,h3,h4,h5,h6,p,input,textarea,select,figure{margin: 0;padding: 0;}
ul,ol{list-style: none;}
input,textarea,select{border: none; background-color: transparent; outline: none;}
textarea{resize: none;}
img{border: none;vertical-align: top;}
a{text-decoration: none;}
a {-webkit-tap-highlight-color:transparent;}
html {-webkit-text-size-adjust: none;}
a{blr:expression(this.onFocus=this.blur())}
a{outline:0}
.clearfix:after,.clearfix:before{content: ""; display: table;}
.clearfix:after{clear: both;}
.clearfix{*zoom:1;}



