body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input { margin: 0; padding: 0; }
body { font-size: 12px; }
img { border: none; }
li { list-style: none; }
input, select, textarea { outline: none; border: none; }
textarea { resize: none; }
a { text-decoration: none; }
/*清浮动*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom:1;/*ie6,7*/
}
/*头部*/
.header_bar { height: 46px; }
.header_box { height: 42px; border-top: solid 1px #FF8500; border-bottom: #EDEEF0 solid 1px; }
.header { height: 100%; }
.leftNav { font-family: "Microsoft YaHei", "微软雅黑"; font-size: 12px; }
.leftNav li { height: 100%; float: left; position: relative; }
.header_link { display: inline-block; height: 100%; line-height: 42px; padding: 0 18px; color: #4B4B4B; position: relative; }
.header_link:hover { background-color: #CCC; color: #FF8500; }
.pull_down { width: 8px; height: 4px; overflow: hidden; background: url(../images/icon_down.png) left top no-repeat; position: absolute; }
.leftNav .down_link { padding-right: 32px; }
.leftNav .down_link .pull_down { right: 14px; top: 50%; margin-top: -2px; }
/*down_link下拉时候的显示内容*/
.show_downBox { position: absolute; left: 0; top: 41px; background-color: #FFF; width: 110px; display: none; }
.show_downLink { border: #EBBE7A solid 1px; border-top: none; }
.show_downLink dd { border-bottom: #FECC5B solid 1px; margin-bottom: -1px; }
.show_downLink a { display: block; height: 31px; line-height: 31px; padding-left: 15px; color: #333333; }
.show_downLink a:hover { background-color: #FFF5DA; color: #FF8500; }
/*重置小东西*/
.sm_showDown { width: 100%; }
.header_close { width: 56px; height: 23px; background: url(../images/header_close.jpg) left top no-repeat; margin-top: 9px; }
/*登陆*/
.sina_login { width: 292px; height: 228px; border: #FFC525 solid 1px; position: absolute; left: -116px; top: 41px; background-color: #FFF; display: none; }
.login_close { width: 8px; height: 7px; overflow: hidden; background: url(../images/login_close.png) left top no-repeat; position: absolute; right: 15px; top: 16px; }
.login_cont { padding: 25px 30px; font-family: "宋体"; }
.login_cont p { height: 48px; }
.login_cont dd { margin-bottom: 12px; }
.login_input { width: 202px; height: 27px; border: #D0D0D0 solid 1px; position: relative; }
.login_input span { padding: 0 5px; line-height: 27px; color: #A9A9A9; display: block; height: 27px; margin-bottom: -27px; }
.login_input input { height: 27px; line-height: 27px\9; border: none; background: none; width: 192px; padding: 0 5px; position: relative; }
.login_btn { width: 64px; height: 29px; line-height: 29px; color: #FFF; font-size: 14px; background-color: #FF8500; vertical-align: middle; }
.next_autologin { vertical-align: middle; position: relative; top: 3px; *top:0;
}
.next_autologin input { margin-right: 5px; }
.next_autologin span { position: relative; top: -3px; }
.login_link { color: #A7792C; margin-right: 13px; }
.login a:hover, .login_link:hover { text-decoration: underline; }
.login { line-height: 42px; color: #FF8500; display: none; }
.login a { color: #FF8500; }
/*logo*/
.logo_search { margin-top: 16px; margin-bottom: 17px; }
.logo { width: 111px; height: 47px; background: url(../images/logo.jpg) left top no-repeat; margin-left: 120px; margin-right: 22px; }
.search_box { width: 442px; height: 35px; margin-top: 9px; }
.search_inputs { width: 365px; height: 33px; border: #C1C1C1 solid 1px; border-radius: 3px 0 0 3px; }
.search_down { height: 31px; width: 74px; border-right: #C1C1C1 solid 1px; margin: 1px 0; position: relative; }
.search_down h3 { font-weight: normal; line-height: 31px; text-indent: 15px; background: url(../images/icon_down.png) 57px center no-repeat; }
.search_show { position: absolute; left: -1px; top: 30px; background-color: #FFF; width: 100%; border: #CCC solid 1px; border-top: none; display: none; }
.search_show li { line-height: 26px; border-bottom: #CCC solid 1px; margin-bottom: -1px; text-indent: 15px; cursor: pointer; }
.search_show .over { background-color: #FDF8B5; }
.search_input { width: 264px; padding: 0 13px; height: 100%; }
.search_input input { height: 33px; *height:31px;
line-height: 33px\9; width: 100%; font-size: 14px; background: none; }
.search_btn { width: 66px; height: 35px; background: url(../images/search_btn.jpg) left top no-repeat; }
.report { background: url(../images/report.jpg) left top no-repeat; width: 103px; height: 50px; }
/*导航*/
.nav { margin-bottom: 10px; }
.nav_item { width: 123px; padding-left: 17px; border-right: #F1E5C5 solid 1px; }
.nav_item dl { height: 26px; }
.nav_item dt, .nav_item dd { float: left; width: 41px; }
.nav_item a { color: #000; }
.nav_item a:hover { text-decoration: underline; }
.nav_item dt { font-weight: bold; }
.last { border-right: none; }
.last dt { font-weight: normal; }
/*ad*/
.adBox { margin-bottom: 15px; }
.textAd { line-height: 34px; }
.textAd li { width: 125px; float: left; text-align: center; }
.textAd a { color: #666; }
/*主题内容*/
.learArea { width: 640px; }
.leftItem { width: 240px; }
.rightArea { width: 360px; }
.bor { border: #999 solid 1px; border-top: #FF8400 solid 3px; }
.learArea .leftItem { margin-right: 19px; }
/*内容*/
.ad_240_47 { height: 47px; margin-bottom: 12px; }
.ad_350 { height: 350px; margin-bottom: 11px; }
/*小列表标题*/
.sina_smtit { height: 35px; border-bottom: #999 solid 1px; }
.sina_smtit h3 { line-height: 35px; height: 35px; padding-left: 13px; font-family: "Microsoft YaHei", "微软雅黑"; font-size: 16px; font-weight: normal; }
.imgList { padding-top: 7px; padding-left: 5px; }
.imgList li { width: 58px; float: left; margin: 0 9px; display: inline; text-align: center; }
.imgList li img { display: block; margin-bottom: 5px; width: 58px; height: 58px; }
.imgList a { color: #999; line-height: 28px; }
.imgList a:hover { text-decoration: underline; }
.imgList_bor { border-top: dashed #999 1px; }
/*标题通用*/
.sina_tit { height: 34px; border: #DCDDDF solid 1px; background: url(../images/tit_bg.png) left top repeat-x; }
.sina_tit_item { font-family: "Microsoft YaHei", "微软雅黑"; font-size: 16px; margin-left: -1px; float: left; }
.sina_tit_item li { float: left; height: 34px; line-height: 34px; padding: 0 15px; }
.sina_tit_item li a { color: #333; }
.sina_tit_item .active { background-color: #FFF; height: 33px; margin-bottom: -1px; position: relative; border-top: #FF8400 solid 3px; margin-top: -1px; line-height: 30px; border-left: #DCDDDF solid 1px; border-right: #DCDDDF solid 1px; padding: 0 14px; }
.sina_tit_item .noBor { border-left: none !important; padding-left: 14px; }
.time { line-height: 34px; float: right; padding-right: 12px; color: #333; }
/*公用列表*/
.comList { line-height: 26px; font-size: 14px; }
.comList li { background: url(../images/d.png) left center no-repeat; padding-left: 10px; }
.comList a { color: #122D67; }
.comList a:hover { text-decoration: underline; color: #F30; }
.video { background: url(../images/video.png) left center no-repeat; padding-left: 21px; }
/*可点击的图片*/
.video_link { width: 125px; height: 119px; display: block; position: relative; }
.video_link img { width: 125px; height: 119px; display: block; }
.video_link .play { width: 40px; height: 40px; background: url(../images/video_icon.png) left top no-repeat; position: absolute; left: 5px; bottom: 24px; }
.video_link .bg, .video_link .text { width: 100%; height: 24px; position: absolute; left: 0; bottom: 0; }
.video_link .bg { background-color: #000; opacity: 0.5; filter: alpha(opacity=50); }
.video_link .text { line-height: 24px; text-align: center; color: #FFF; }
/*视频列表*/
.video_list_box { height: 119px; margin-bottom: 20px; }
.video_list_box .comList { width: 220px; margin-top: -6px; }
/*猜你喜欢*/
.cnxh .tabs_item { padding-top: 11px; }
.prev_link, .next_link { width: 19px; height: 19px; background: url(../images/caini.png) 0 0 no-repeat; float: left; margin-top: 7px; }
.prev_link { background-position: -3px -2px; margin-left: 5px; }
.next_link { background-position: -57px -2px; }
.point_item { width: 6px; height: 6px; background-color: #D3D3D3; overflow: hidden; margin: 13px 4px 0; }
.point_item_active { background-color: #FF8500; }
/*新闻列表*/
.news .tabs_item { padding-top: 19px; }
.news .mb { margin-bottom: 8px; *margin-bottom:12px;
}
.news .mb2 { margin-bottom: 16px; *margin-bottom:20px;
}
.news .mb3 { margin-bottom: 14px; *margin-bottom:16px;
}
/*体育*/
.tiyu { border: #CCC solid 1px; border-top: none; overflow: hidden; }
.tit_02 { border-top: #CCC solid 1px; height: 37px; background-color: #F9F9F9; font-family: "Microsoft YaHei", "微软雅黑"; font-size: 16px; margin-right: -2px; }
.tit_02 span { float: left; width: 59px; border-right: #CCC solid 1px; line-height: 37px; text-align: center; }
.tit_02 .active { background-color: #FFF; height: 36px; border-top: #F60 solid 3px; margin-top: -1px; line-height: 34px; position: relative; }
.tiyu_tab { padding: 2px; }
.tiyu .comList { padding-left: 4px; }
/*ad*/
.ad_210 { margin-bottom: 10px; }
.ad_210 img, .ad_200 img, .ad_90 img { display: block; }
/*小的图片*/
.img_link { width: 105px; border: #FFF solid 1px; height: 90px; display: block; }
.img_link img { width: 105px; height: 70px; display: block; }
.img_link span { height: 20px; background-color: #000; text-align: center; color: #FFF; line-height: 20px; display: block; }
.img_link:hover { color: #F30; border-color: #F30; }
.img_link:hover span { color: #F30; }
.smImg_box { height: 103px; }
.smImg_box .img_link { float: left; }
.smImg_box .comList { margin-top: -6px; width: 240px; float: right; }
.list .tabs_item { padding-top: 21px; }
/*标题*/
.tit_03 { height: 35px; line-height: 35px; font-size: 16px; font-family: "Microsoft YaHei", "微软雅黑"; padding-left: 13px; border-bottom: #CCC solid 1px; border-top: #F60 solid 3px; }
.yueku { border: #CCC solid 1px; border-top: none; }
.yueku .comList { padding: 12px 9px; }
/*我爱看图*/
.lookPhoto_tab { position: relative; height: 210px; margin-top: 21px; overflow: hidden; width: 100%; }
.prev, .next { width: 29px; height: 43px; position: absolute; top: 50%; margin-top: -21px; }
.prev { background: url(../images/prev_photo.png) left top no-repeat; left: 0; z-index: 2; }
.next { background: url(../images/next_photo.png) left top no-repeat; right: 0; z-index: 2; }
.lookPhoto_list { height: 162px; width: 6000px; }
.lookPhoto_list li { float: left; width: 198px; margin-right: 2px; height: 100%; }
.lookPhoto_list .img_link { width: 198px; height: 100%; }
.lookPhoto_list .img_link img { width: 198px; height: 132px; }
.lookPhoto_list .img_link span { height: 30px; background-color: #262626; line-height: 30px; }
.number { position: absolute; z-index: 5; left: 50%; padding-top: 19px; }
.number a { float: left; width: 15px; height: 16px; overflow: hidden; background: url(../images/default_num.png) left top no-repeat; margin: 0 3px; position: relative; left: -50%; }
.number .active { background-image: url(../images/active_num.png); }
/*新浪城市*/
.sinaCity { background-color: #FFFCF1; border: #CCC solid 1px; margin-bottom: -1px; }
.sinaCity h3 { float: left; width: 120px; font-family: "Microsoft YaHei", "微软雅黑"; font-size: 16px; color: #E56100; font-weight: normal; text-align: center; padding-top: 16px; }
.sinaCity p { width: 843px; float: right; padding: 6px 0 6px 35px; line-height: 20px; background-color: #FFF; }
.sinaCity a { color: #596975; margin-right: 13px; }
.sinaCity a:hover { color: #F60; }
.sinaCity .tz { padding-top: 6px; }
/*关于*/
.aboutSina { text-align: center; }
.about { background-color: #F7F7F7; height: 34px; line-height: 34px; color: #75839D; }
.about a { color: #75839D; }
.about a:hover { color: #F60; }
.aboutSina .imgs { padding: 5px 0; }
.aboutSina .imgs img { margin: 0 1px; }
.aboutSina p { line-height: 20px; color: #999; }
.copyright { padding: 7px 0; }
/*公用的样式*/
.comWidth { width: 1000px; margin-left: auto; margin-right: auto; }
.fl { float: left; }
.fr { float: right; }
.tabs_item { display: none; }
.show { display: block; }
.hide { display: none; }
.pt { padding-top: 25px; }
.hr_20 { height: 20px; }
.hr_10 { height: 10px; overflow: hidden; }
.hr_26 { height: 26px; }
.hr_30 { height: 30px; }
.list_sm { font-size: 12px; }

