@charset "UTF-8";
header{
    height: 300px;
    background: url("../img/bg.jpg") left top no-repeat;
    position: relative;
}
.logo{
    text-align: center;
    padding-top: 40px;
}
.logo img{
    width: 100px;
    height: 100px;
}
.logo_text{
    position: absolute;
    left: 39%;
    top: 55%;
    text-shadow: 2px 2px 10px rgba(22,22,22,.3);
}
.logo_text h2{
    font-size: 24px;
    line-height: 30px;
    margin: 10px 0 10px 0;
    color: #ffffff;
    letter-spacing: 0;
}
.logo_text p{
    letter-spacing: 0;
    color: #ffffff;
    font-size: 14px;
}
.content{
    padding: 20px 20px 0 20px;
    margin-top: 15px;
}
.content .title{
    font: 32px/50px Arial,"微软雅黑";
    font-weight: 700;
    margin-bottom: 10px;
}
.cont_box{
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.cont_box li{
    margin-bottom: 20px;
}
.cont_box p{
    font: 14px/30px 'Arial','微软雅黑';
    position: relative;
}
.cont_box .hand{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 70px;
    top: 100px;
}
.cont_box p a{
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    margin-right: 3px;
    border-radius: 3px;
    background-color: #229187;
    transition: 0.4s;
    color: #ffffff;
}
.cont_box p a:hover{
    background-color: #000000;
}
.cont_box h4{
    color: #229187;
    margin: 20px 0 10px 0;
    font: 16px/22px 'Arial','Microsoft YaHei';
    font-weight: bold;
}
.cont_box .list_img img{
    width: 540px;
    height: 320px;
    border-radius: 6px;
    margin-bottom: 20px;
}
.list_text a{
    color: #229187;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}
.cont_skill span{
    font-size: 12px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    display: inline-block;
    margin: 10px;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background-color: #229187;
    border-radius: 50%;
    color: #ffffff;
}
.demo img{
    width: 540px;
    height: 320px;
    border-radius: 6px;
    margin-bottom: 20px;
}
footer{
    padding: 40px;
    background-color: #000000;
    text-align: center;
}
footer p{
    color: #ffffff;
    font: 12px/22px 'Arial','Microsoft YaHei';
    margin: 15px auto;
}
footer a{
    color: #ffffff;
    font: 12px/22px 'Arial','Microsoft YaHei';
}


body{
    background-color: rgba(18,180,88,.3);
}